.vs/VSWorkspaceState.json
.vs/getfactors-main/v17/DocumentLayout.backup.json
.vs/slnx.sqlite
.vs/getfactors-main/FileContentIndex/b7795a23-f27b-4e55-b76d-1bfdbe1ea1f6.vsidx
.vs/getfactors-main/FileContentIndex/6b3c93b8-24e7-4fe8-ab71-234adc5683e1.vsidx
.vs/getfactors-main/FileContentIndex/694087f8-79e6-4a21-b557-2d7e86d45469.vsidx
.vs/getfactors-main/FileContentIndex/30fa2aae-49be-41dd-84b9-136018c11436.vsidx
.vs/getfactors-main/FileContentIndex/358816d1-99fa-4991-b7d0-b29482c8cbd5.vsidx
.vs/getfactors-main/FileContentIndex/6e776dec-0bc4-43bd-b4cb-1f413745ba0d.vsidx
.vs/getfactors-main/FileContentIndex/8293a36e-cade-406b-b9de-b8379aa42c11.vsidx
.vs/getfactors-main/FileContentIndex/be3f7391-c83e-4f86-901e-719d9cd738e9.vsidx
.vs/getfactors-main/FileContentIndex/cd680360-fad1-41c7-ae39-982251063ec0.vsidx
.vs/getfactors-main/v17/.wsuo
.vs/getfactors-main/v17/Preview/Browse.VC.db
.vs/ProjectSettings.json
.vs/getfactors-main/v17/Preview/Browse.VC.opendb
.vs/getfactors-main/v17/Preview/Browse.VC.db-wal
.vs/getfactors-main/v17/Preview/Browse.VC.db-shm
.vs/getfactors-main/v17/DocumentLayout.json
.vs/getfactors-main/FileContentIndex/e34e2b34-7ad1-428a-bdb4-d8379afba2f2.vsidx
.vs/getfactors-main/FileContentIndex/c5a29613-a1f3-49dd-bcb3-156b3735c6f0.vsidx
.vs/getfactors-main/FileContentIndex/5efbb8ba-deac-48dc-a845-95ef0961d3c3.vsidx
.vs/getfactors-main/FileContentIndex/6294f686-02c5-4648-8db1-864e90bc34ec.vsidx
.vs/getfactors-main/FileContentIndex/09c3addf-7fac-4de0-b722-df759078cb4e.vsidx
.vs/getfactors-main/FileContentIndex/260e53b9-7a4f-4897-bffa-e942c51a3c9d.vsidx
.vs/getfactors-main/FileContentIndex/adc6f883-5d04-4f00-bfb2-5c31e1eaf943.vsidx
.vs/getfactors-main/FileContentIndex/3e7a9d9b-4a2b-48d7-aa44-53952a14a4e5.vsidx
*.vsidx
*.db
*.ipch
